# git ignore file

# Ignore all files, keep folders
*
!*/

# Ignore temporary folders
Temp/
Bin/
Lib/


# File exceptions
!.gitignore
!Makefile

# Source files
!*.h
!*.hpp
!*.inl
!*.inc
!*.c
!*.cc
!*.cpp

# Shader files
!*.hlsl

# Scripts
!*.cmd

# Docs & info
!*.txt
!*.md

# MSVC files
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user
